@page "/"

<PageTitle>Home</PageTitle>

<h1>Witaj w bazie filmów i opinii</h1>

Aby sprawdzić opinie przejdź do zakładki Films & Ratings, aby dodac opinie, bądź nowy film zarejestruj, bądź zaloguj się.

Pozdrawiam
